@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  min-width: 320px;
  font-size: 15px;
  line-height: 1.6;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $grey;
  background: $lightGrey;
  padding-top: 64px;
  @include mobile {
    padding-top: 48px;
    font-size: 14px;
    line-height: 22px;
  }
}

.container {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;
  padding: 0 12px;
  @include mobile {
    padding: 0 6px;
  }
}

.btn {
  height: 36px;
  display: flex;
  align-items: center;
  padding: 0 16px 0 12px;
  background: rgb(104, 44, 131);
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background: linear-gradient(
    313deg,
    rgba(104, 44, 131, 1) 0%,
    rgba(71, 17, 95, 1) 100%
  );
  border-radius: 8px;
  img {
    margin-right: 6px;
  }
  &:hover {
    background: linear-gradient(
    313deg,
    rgba(71, 17, 95, 1) 0%,
    rgba(104, 44, 131, 1) 100%
  );
  }
}
