.about {
  @include tablet {
    padding-top: 80px;
  }
  @include mobile {
    padding-top: 32px;
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    @include tablet {
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    @include mobile {
      gap: 16px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    color: #674278;
    text-transform: capitalize;
    @include mobile {
      font-size: 26px;
      line-height: 34px;
    }
  }

  &__descr {
    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  &__link {
    display: flex;
    @include mobile {
      .btn {
        width: 100%;
        justify-content: center;
      }
    }
  }
  &__image {
    display: flex;
    @include tablet {
      margin: 0 auto;
      justify-content: center;
    }
    img {
      width: 100%;
      @include tablet {
        width: auto;
      }
    }
  }
}