.contacts {
  margin-bottom: 28px;
  &__wrap {
    padding: 80px 96px;
    background: url('../images/dist/contacts-bg.png') center / cover;
    border-radius: 8px;
    color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__img {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: inherit;
    max-height: inherit;
  }

  &__info,
  &__form {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;
    color: #E9E3EC;
  }

  &__descr {
    color: #E9E3EC;
  }

  &__text {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 18px;
  }

  &__wrapper {
    margin-bottom: 24px;
    &-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #F3EFF5;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 6px;
      span {
        font-size: 11px;
        color: #F3EFF5;
      }
    }
    input:not(input[type="submit"]),
    textarea {
      width: 100%;
      height: 36px;
      border-radius: 8px;
      padding: 0 12px;
      background: rgba(#fff,.06);
      border: 0;
      color: #F3EFF5;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 15px;
      @include placeholder {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 15px;
        color: rgba(#F3EFF5,.6);
      }
    }
    textarea {
      height: 100px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }


  &__btn {
    display: flex;
    justify-content: flex-end;
  }
}