.contacts {
  margin-bottom: 28px;
  @include mobile {
    margin-bottom: 0;
  }
  .container {
    @include mobile {
      padding: 0;
    }
  }
  &__wrap {
    padding: 80px 96px;
    background: url('../images/dist/contacts-bg.png') center / cover;
    border-radius: 8px;
    color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    overflow: hidden;
    @include tablet {
      padding: 80px 80px 0;
      display: block;
    }
    @include mobile {
      padding: 32px 16px 0;
      border-radius: 0;
    }
  }

  &__img {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: inherit;
    max-height: inherit;
    @include tablet {
      display: flex;
      position: relative;
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
    @include mobile {
      max-width: 140%;
      width: 140%;
      margin-left: -20%;
    }
  }

  &__info,
  &__form {
    position: relative;
    z-index: 1;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -2px;
    color: #E9E3EC;
    @include mobile {
      margin-bottom: 16px;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -1px;
    }
  }

  &__descr {
    color: #E9E3EC;
    @include tablet {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 24px;
    }
    @include mobile {
      margin-bottom: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text {
    margin-bottom: 24px;
    font-size: 13px;
    line-height: 18px;
    @include mobile {

    }
  }

  &__col {
    @include mobile {
      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  &__wrapper {
    margin-bottom: 24px;
    &-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      @include mobile {
        display: block;
      }
    }
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #F3EFF5;
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 6px;
      span {
        font-size: 11px;
        color: #F3EFF5;
      }
    }
    input:not(input[type="submit"]),
    textarea {
      width: 100%;
      height: 36px;
      border-radius: 8px;
      padding: 0 12px;
      background: rgba(#fff,.06);
      border: 0;
      color: #F3EFF5;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 15px;
      @include placeholder {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 15px;
        color: rgba(#F3EFF5,.6);
      }
    }
    textarea {
      height: 100px;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }


  &__btn {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 400px) {
      
      .btn {
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 598px;
    height: 72px;
    margin-left: auto;
    margin-right: 50px;
    background: url('../images/dist/contacts-foot.png');
    display: grid;
    grid-template-columns: auto 127px 127px 127px;
    gap: 8px;
    span {
      color: #491361;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
    }
    a {
      display: flex;
      align-items: center;
      background: rgba(#491361, .16);
      height: calc(100% - 24px);
      border-radius: 8px;
      font-size: 11px;
      line-height: 14px;
      padding: 0 8px;
      text-decoration: none;
      transition: background .3s ease;
      &:hover {
        background: rgba(#491361, .32);
      }
      img {
        display: flex;
        margin-right: 4px;
      }
    }
  }
}