.contacts {
  margin-bottom: 28px;
  &__wrap {
    padding: 80px 96px;
    background: url('../images/dist/contacts-bg.png') center / cover;
    border-radius: 8px;
    color: #fff;
    position: relative;
  }

  &__img {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: inherit;
    max-height: inherit;
  }
}