.header {
  border-bottom: 1px solid #D7D0DB;
  background: #F9F5FB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .container {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include tablet {
      padding-left: 64px;
    }
    @include mobile {
      padding-left: 48px;
      height: 48px;
    }
  }

  &__logo {
    display: flex;
    img {
      width: 89px;
    }
  }

  &__menu {
    list-style: none;
    display: flex;
    gap: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include tablet {
      display: none;
    }
    li {
      a {
        padding: 0 8px;
        text-decoration: none;
        height: 28px;
        display: flex;
        align-items: center;
        border-radius: 14px;
        color: #413845;
        transition: background .3s ease;
        white-space: nowrap;
        &.active,
        &:hover {
          background: #D7D0DB;
        }
      }
    }
  }
  
  &__open-menu {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    border: 0;
    background: transparent;
    @include tablet {
      display: flex;
    }
    @include mobile {
      width: 36px;
      height: 36px;
      left: 6px;
    }
  }
}