.hero {
  border-bottom: 1px solid #D7D0DB;
  background: url('../images/dist/hero-bg.png') center center / cover;
  @include mobile {
    background: url('../images/dist/hero-bg-mobile.png') center center / cover;
  }
  &__wrap {
    padding: 100px 0;
    max-width: 522px;
    width: 100%;
    margin: 0 auto;
    @include tablet {
      padding: 80px 0;
    }
    @include mobile {
      padding: 40px 0;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 24px;
    font-weight: 800;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -3px;
    @include mobile {
      margin-bottom: 16px;
      font-size: 32px;
      letter-spacing: inherit;
    }
  }

  &__descr {
    text-align: center;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 26px;
    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    @media (max-width: 400px) {
      .btn {
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 24px;
    gap: 8px;
    @include mobile {
      flex-wrap: wrap;
      margin-bottom: 16px;
    }
    li {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 13px;
      height: 28px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 1px solid;
      border-radius: 50px;
      white-space: nowrap;
      &:nth-child(1) {
        color: #0F96E1;
        border-color: #0F96E1;
      }
      &:nth-child(2) {
        color: #524FDA;
        border-color: #524FDA;
      }
      &:nth-child(3) {
        color: #E5783A;
        border-color: #E5783A;
      }
      &:nth-child(4) {
        color: #7A7D97;
        border-color: #7A7D97;
      }
    }
  }
}